@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock3 {
    display: flex;
    flex-direction: column;
    //min-height: 100vh; /*блок по всей высоте*/
    background-color: $bgColorLight;
    //border: 1px solid $bgColorMediumDark;

    .mainBlock3_projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: $marginBottomFromBlock;

        @media (max-width: 801px) {
            padding: 0 30px;
        }

        .mainBlock3_projectItem {
            //border: 1px solid $bgColorMediumDark;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 1 45%; /*по 2 элемента в ряду*/
            margin: 10px;
            box-shadow: 0 0 10px $bgColorMediumDark;

            @media (max-width: 801px) {
                flex: 0 1 100%; /*по 1 элементу в ряду*/
            }

            .item_image {
                width: 100%;
                height: 200px;
                //border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                //background-size: 120% auto;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                //box-shadow: 0 5px 15px rgb(0 0 0 / 15%);

                /*чтобы кнопка была сверху*/
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $bgColorMediumDark;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                }

                /*&:hover {
                    opacity: 0.5;
                }*/

                a {
                    border: 1px solid $bgColorMediumDark;
                    padding: 15px;
                    text-decoration: none;
                    color: $bgColorMediumDark;
                    background-color: $bgColorLight;
                    //font-weight: bold;
                    //pointer-events: none; /*отмена перехода по ссылке*/
                    //box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
                    //opacity: 0.8;
                    cursor: pointer;

                    &:hover {
                        opacity: $hoverOpacity;
                        //text-decoration: underline;
                        text-decoration: none;
                    }
                }

                /*чтобы кнопка была сверху*/
                .item_button {
                    position: relative;
                    z-index: 1;
                    box-shadow: 0 0 10px $bgColorMediumDark;

                    // свойства для ссылки можно написать здесь
                    /*border: 1px solid $bgColorMediumDark;
                    padding: 15px;
                    text-decoration: none;
                    color: $bgColorMediumDark;
                    background-color: $bgColorLight;
                    //font-weight: bold;
                    //pointer-events: none; !*отмена перехода по ссылке*!
                    //box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
                    //opacity: 0.8;
                    cursor: pointer;

                    &:hover {
                        opacity: $hoverOpacity;
                        text-decoration: underline;
                    }*/
                }
            }

            .item_title {
                padding: 5px;
                font-size: 20px;
            }

            .item_description {
                padding: 5px;
                @include text(1.4, 18px);
            }
        }
    }
}
