.mainBlock4 {
    display: flex;
    flex-direction: column;
    min-height: 70vh; /*блок по всей высоте*/
    background-color: #1f1f1f;
    /*border: 1px solid black;*/
    color: white;

    .mainBlock4_resume {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 30px;
        /*border: 1px solid white;*/

        .mainBlock4_photo {
            /*border: 1px solid white;*/
            padding: 10px;
            display: flex;
            justify-content: center;

            img {
                max-width: 100%;
                width: 600px;
                box-shadow: 0 0 10px black;
            }
        }

        .mainBlock4_text {
            /*border: 1px solid white;*/
            padding: 20px;
            display: flex;
            align-items: center;

            .mainBlock4_text_item {

                .mainBlock4_text_title {
                    margin-bottom: 30px;
                    font-size: 30px;
                    font-weight: bold;
                }

                .mainBlock4_text_body {
                    margin-bottom: 30px;
                    max-width: 500px;
                    line-height: 2;
                }
                .mainBlock4_text_file {

                }
            }
        }
    }
}