@import '../../styles/sass/variables';

.topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    max-width: 45px;
    width: 100%;
    font-size: 14px;
    background-color: $bgColorMediumLight;
    border: 1px solid $titleColorLight;
    padding: 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    //z-index: 3;

    a {
        //color: white;
        //text-decoration: none;
    }

    &:hover {
        background-color: $bgColorLight;
        color: $fontColorDark;
        border: 1px solid $fontColorDark;
    }
}