@import '../../shared/styles/variables';

.navMenu {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;

    @media (max-width: 800px) {
      margin: 0 auto;
    }

    @media (max-width: 500px) {
      /*display: none;*/
      margin: 0 auto;
      flex-wrap: wrap;
    }

    a {
        color: $fontColorDark;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 800px) {
          font-size: 16px;

        }
        @media (max-width: 500px) {
          padding: 10px;
        }

        &:hover {
          /*text-decoration: underline;*/
          color: $bgColorLight;
        }
    }

    .active {
        color: $bgColorLight;
    }
}