@import './src/common/styles/sass/variables';

.common_title {
    text-align: center;
    font-size: 30px;

    h2 {
        margin: 40px 0 20px 0;
    }
}

.topBtn {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 18.5%;
    left: 95%;
    max-width: 60px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: 5px;
    border-radius: 4px;

    a {
        color: white;
        text-decoration: none;
    }

    &:hover {
        background-color: #f5df4e;
    }
}