.mainBlock3 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*блок по всей высоте*/
    background-color: #f5df4e;
    border: 1px solid black;
}

.mainBlock3_projects {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 10px;*/
    /*width: 100%;*/
}
.mainBlock3_title {
    text-align: center;
}

.mainBlock3_projectItem {
    border: 1px solid black;
    /*width: 250px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 10px;*/
    flex: 0 1 45%; /*по 2 элемента в ряду*/
    margin: 10px;
}

@media (max-width: 767px) {
    .mainBlock3_projectItem {
        flex: 0 1 100%; /*по 1 элементу в ряду*/
    }
}

.item_image {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url('');
    background-position: center;
    background-size: cover;*/
}
.item_image a {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.item_title {
    padding: 5px;
}
.item_description {
    padding: 5px;
}