.mainBlock4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.mainBlock4 h2 {
    text-align: center;
    background-color: aquamarine;
}

.mainBlock4 textarea{
    margin-bottom: 10px;
}

.mainBlock4 button{
    width: 20%;
    margin: 0 auto 10px;
    padding: 10px;
}