.mainBlock4_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock4_leftInfo {
    /*width: 300px;*/
    border: 1px solid blue;
    /*margin-left: 20px;*/
    flex: 0 1 100%;
}

.mainBlock4_contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    border: 1px solid white;
}

@media (max-width: 767px) {
    .mainBlock4_contacts {
        flex-direction: column;
    }
    .mainBlock4_leftInfo {
        text-align: center;
    }
}

.mainBlock4_title {
    text-align: center;
    background-color: aquamarine;
}

.mainBlock4 textarea {
    margin-bottom: 10px;
}

.mainBlock4 button {
    min-width: 20%;
    margin: 0 auto 10px;
    padding: 10px;
}