/*.mainBlock {
    height: 100vh;
    background-color: dimgray;
}*/

/*.container {
    border: 1px solid yellow;
    height: 100%;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.mainBlock1 {
    border: 1px solid;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mainBlock1_text {
   background-color: seashell;
   width: 450px;
}
.mainBlock1_photo {
    background-color: cornsilk;
    width: 300px;
    height: 500px;
}
.mainBlock1_photo img {
    height: 500px;
}