.mainBlock1 {
    /*border: 1px solid black;*/
    height: 100vh;
    background-color: #f5df4e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.mainBlock1_text {
    /*margin-left: 50px;*/
}

.mainBlock1_greeting {

}
.mainBlock1_name h1 {
    font-size: 50px;
    line-height: 30px;
}
.mainBlock1_work {
    font-size: 30px;
}

.mainBlock1_photo {
    background-color: cornsilk;
    width: 300px;
    height: 500px;
    /*margin-right: 50px;*/
}
.mainBlock1_photo img {
    height: 500px;
}