.mainBlock4 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: black;
}

.mainBlock4_title {
    text-align: center;
    background-color: aquamarine;
}

.mainBlock4 textarea{
    margin-bottom: 10px;
}

.mainBlock4 button{
    min-width: 20%;
    margin: 0 auto 10px;
    padding: 10px;
}