@import './src/common/styles/sass/variables';

.mainBlock1 {
    min-height: 100vh;
    //height: calc(100vh - 80px);
    background-color: $bgColorLight;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //margin-top: -80px; // чтобы sticky-меню не перекрывало = высота menu

    @media (max-width: 1014px) {
        flex-direction: column-reverse;
    }

    .mainBlock1_text {
        margin: 50px;

        @media (max-width: 1288px) {
            margin-left: 100px;
        }

        @media (max-width: 807px) {
            text-align: center;
            margin: 0px 10px 10px 10px;
        }

        .mainBlock1_greeting {

        }
        .mainBlock1_name {
            h1 {
                font-size: 60px;
                line-height: 30px;
                text-transform: uppercase;
            }

            @media (max-width: 1288px) {
                h1 {
                    line-height: 1;

                    @media (max-width: 440px) {
                        font-size: 40px;
                    }
                }
            }
        }
        .mainBlock1_work {
            font-size: 30px;
        }
    }

    .mainBlock1_photo {
        margin: 70px 70px 70px 0;
        background-color: $titleColorLight;
        border-radius: 50%;
        padding: 15px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175);

        @media (max-width: 1014px) {
            //margin: 0 auto 70px auto; // если фото внизу
            margin: 70px auto 70px auto; // фото сверху
        }

        @media (max-width: 540px) {
            margin-bottom: 70px;
        }

        img {
            //max-height: 500px;
            border-radius: 50%;
            width: 35vw;
            height: auto;

            @media (max-width: 1014px) {
                width: 55vw;
            }

            @media (max-width: 657px) {
                width: 45vw;
            }
        }
    }
}