@import './src/common/styles/sass/variables';

.mainBlock1 {
    /*border: 1px solid black;*/
    min-height: 100vh;
    background-color: $bgColorLight;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //flex-wrap: wrap;

    @media (max-width: 1014px) {
        flex-direction: column;
    }

    .mainBlock1_text {
        margin: 50px;

        @media (max-width: 664px) {
            text-align: center;
        }

        .mainBlock1_greeting {

        }
        .mainBlock1_name {
            h1 {
                font-size: 60px;
                line-height: 30px;
            }

            @media (max-width: 664px) {
                h1 {
                    line-height: 1;

                    @media (max-width: 400px) {
                        font-size: 40px;
                    }
                }
            }
        }
        .mainBlock1_work {
            font-size: 30px;
        }
    }

    .mainBlock1_photo {
        background-color: cornsilk;
        width: 300px;
        height: 500px;
        margin-right: 50px;
        padding: 30px;

        @media (max-width: 1014px) {
            margin: 0 auto 30px auto;
        }

        .mainBlock1_photo img {
            height: 500px;
        }
    }
}