.mainBlock2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*блок по всей высоте*/
    background-color: #1f1f1f;
    border: 1px solid black;
    color: white;
    /*padding-top: 30px;*/
}

.mainBlock2_skills {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 10px;
    margin-bottom: 30px;*/

    /*ограничение по ширине*/
    /*width: 90%;*/
    /*margin: 0 auto;*/
}

.mainBlock2_skillItem {
    border: 1px solid #f5df4e;
    /*width: 250px;*/ /*или убрать flex: 0 1 */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 30px;*/
    flex: 0 1 29%; /*по 3 элемента в ряду*/
    margin: 20px;
}

@media (max-width: 767px) {
    .mainBlock2_skillItem {
        flex: 0 1 50%; /*по 2 элемента в ряду*/
    }
}

/*@media (max-width: 500px) {*/
/*    .mainBlock2_skillItem {*/
/*        flex: 0 1 45%; !*по 1 элементу в ряду*!*/
/*    }*/
/*}*/

.item_icon {
    width: 60px;
    height: 60px;
    background-color: green;
    margin: 5px;
}
.item_title {
    font-size: 20px;
    padding: 5px;
}
.item_text {
    padding: 5px;
    line-height: 1.4;
    font-size: 18px;
}