@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*блок по всей высоте*/
    background-color: $bgColorDark;
    border: 1px solid $bgColorDark;
    color: $fontColorLight;

    .mainBlock2_skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: $marginBottomFromBlock;

        /*ограничение по ширине*/
        /*width: 90%;*/
        /*margin: 0 auto;*/

        .mainBlock2_skillItem {
            //border: 1px solid $bgColorLight;
            /*width: 150px;*/ /*или убрать flex: 0 1 */
            min-width: 150px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 1 31%; /*по 3 элемента в ряду*/
            margin: 10px;
            padding: 10px;
            //border: 1px solid $fontColorLight;

            // чтобы выглядело как карточки
            //background-color: $bgColorMedium;
            //box-shadow: 0 0 10px #111111;

            @media (max-width: 858px) {
                flex: 0 1 45%; /*по 2 элемента в ряду*/
            }

            @media (max-width: 500px) {
                flex: 0 1 95%; /*по 1 элементу в ряду*/
                padding: 20px;
            }

            .item_icon {
                //background-color: $bgColorLight;
                //margin: 5px;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .item_title {
                font-size: 20px;
                //padding: 5px;
                h3 {
                    margin: 10px 0 20px 0;
                }
            }
            .item_text {
                //padding: 5px;
                margin-bottom: 15px;
                @include text(1.4, 18px);
            }
        }
    }
}