@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock2 {
    // почему если убрать два свойства, то появится белая полоса сверху?!
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*блок по всей высоте*/
    background-color: $bgColorMediumDark;
    color: $fontColorLight;

    div > h2 {
        color: $titleColorLight;
    }

    // ряд с карточками flex-row
    .mainBlock2_skills {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -50px; /*отступ между колонками: отрицательное число вдвое меньше проектного*/
        padding: 0 50px;
        margin-bottom: $marginBottomFromBlock;
        margin-top: 70px;

        // колонка = карточка
        .mainBlock2_skillItem_column {
            flex: 0 1 25%; /*0-нельзя увелич., 1-можно уменьшаться, %-размер колонки в ряду*/
            margin-bottom: 20px;
            //margin: 10px;
            padding: 0 50px; /*тоже значение, что и отрицательный margin*/
            //background-color: $bgColorMedium;
            //box-shadow: 0 0 10px #111111;

            @media (max-width: 1130px) {
                flex: 0 1 33.333%; /*по 3 элемента в ряду*/
            }

            @media (max-width: 880px) {
                flex: 0 1 50%; /*по 2 элемента в ряду*/
            }

            @media (max-width: 630px) {
                flex: 0 1 100%; /*по 1 элементу в ряду*/
            }

            // непосредственно сама карточка
            .mainBlock2_skillItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                //border: 1px solid white;
                margin-top: 20px;

                // чтобы выглядело как карточки
                //background-color: $bgColorMedium;
                //box-shadow: 0 0 10px #111111;

                .item_icon {

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .item_title {
                    font-size: 20px;
                    text-align: center;

                    h3 {
                        margin: 10px 0 20px 0;
                    }
                }
                .item_text {
                    text-align: center;
                    @include text(1.4, 16px);
                }
            }
        }
    }
}