@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.mainBlock4 {
    display: flex;
    //flex-direction: column;
    min-height: 55vh; /*блок по всей высоте*/
    background-color: #1f1f1f;
    /*border: 1px solid black;*/
    color: white;

    h2 {
        color: $titleColorLight;
    }

    .mainBlock4_resume {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 30px;
        /*border: 1px solid white;*/
        //margin-bottom: $marginBottomFromBlock;
        margin: 0 -20px; /*отступ между колонками: отрицательное число вдвое меньше проектного*/

        @media (max-width: 700px) {
            padding: 0 30px;
        }

        .mainBlock4_item_column {
            flex: 1 1 50%; /*0-нельзя увелич., 1-можно уменьшаться, %-размер колонки в ряду*/
            margin-bottom: 30px;
            padding: 0 20px; /*тоже значение, что и отрицательный margin*/

            .mainBlock4_photo {
                padding: 10px;
                display: flex;
                justify-content: center;

                img {
                    width: 70%;
                    //max-width: 600px;
                    //height: auto;
                    box-shadow: 0 0 10px black;

                    @media (max-width: 1170px) {
                        flex: 0 1 100%;
                        max-width: 500px;
                    }
                }
            }
        }

        .mainBlock4_text {
            padding: 10px;
            display: flex;
            align-items: center;

            .mainBlock4_item_column {
                flex: 1 1 100%; /*0-нельзя увелич., 1-можно уменьшаться, %-размер колонки в ряду*/
                margin-bottom: 30px;
                padding: 0 20px; /*тоже значение, что и отрицательный margin*/

                .mainBlock4_text_item {

                    .mainBlock4_text_title {
                        margin-bottom: 30px;
                        font-size: 30px;
                        font-weight: bold;
                    }

                    .mainBlock4_text_body {
                        margin-bottom: 30px;
                        max-width: 500px;
                        line-height: 2;
                    }
                    .mainBlock4_text_file {

                    }
                }
            }
        }
    }
}