.navMenu {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    flex-wrap: wrap;
}

.navMenu > a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

/*@media (max-width: 767px) {*/
/*    .navMenu a {*/
/*        flex: 0 1 33.333%; !*по 3 элемента в ряду*!*/
/*    }*/
/*}*/