@import '../styles/sass/variables';
@import '../styles/sass/mixins';

.sendButton {
  margin: 0 auto;
  //padding: 10px;

  button {
    padding: 15px 70px 15px 30px;
    background-color: $bgColorLight;
    color: $fontColorDark;
    font-weight: bold;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 10px black;
    position: relative;

    @media (max-width: 470px) {
      width: 100%;
    }

    &::after {
      content: url('../../assets/icons/decor/arrow-right_01_dark.svg');
      position: absolute;
      top: 5px;
      bottom: 0;
      left: 0;
      right: -140px;

      @media (max-width: 351px) {
        width: 100%;
        top: 15px;
        bottom: 0;
        left: 50px;
      }
    }

    &:hover {
      opacity: $hoverOpacity;
    }
  }
}