@import '../styles/sass/variables';

.topBtn {
    //position: sticky;
    position: fixed;
    //position: absolute;
    bottom: 20px;
    left: 93%;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    max-width: 73px;
    width: 100%;
    font-size: 14px;
    //border-color: rgba(85, 85, 85, 0.2);
    //background-color: rgb(100,100,100);
    background-color: $bgColorMediumLight;
    border: 1px solid $titleColorLight;
    padding: 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;

    a {
        //color: white;
        //text-decoration: none;
    }

    &:hover {
        background-color: $bgColorLight;
        color: $fontColorDark;
        border: 1px solid $fontColorDark;
    }
}