@import '../styles/sass/variables';

.topBtn {
    //position: sticky;
    position: fixed;
    bottom: 20px;
    left: 93%;
    max-width: 75px;
    width: 100%;
    font-size: 14px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: 10px;
    border-radius: 4px;

    a {
        color: white;
        text-decoration: none;
    }

    &:hover {
        background-color: #f5df4e;
    }
}