.footer {
    min-height: 10vh;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .footer_title {
        text-align: center;
        /*font-size: 18px;*/
    }

    .footer_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;

        .footer_item {
            width: 50px;
            height: 50px;
            margin: 10px;
            border: 1px solid white;

            @media (max-width: 480px) {
                flex: 0 1 40%; /*по 2 элемента в ряду*/
            }
        }
    }

    .footer_copyrigths {
        margin-bottom: 20px;
    }
}