@import './src/common/styles/sass/variables';

.footer {
    min-height: 10vh;
    display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    color: $fontColorLight;
    background-color: $bgColorMediumDark;

    .footer_title {
        text-align: center;
    }

    .footer_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px -15px 0; /*отступ между колонками: отрицательное число вдвое меньше проектного*/

        .footer_item {
            flex: 0 1 12.5%; /*0-нельзя увелич., 1-можно уменьшаться, %-размер колонки в ряду*/
            text-align: center;
            margin-bottom: 10px;
            padding: 0 15px; /*тоже значение, что и отрицательный margin*/
            //border: 1px solid $fontColorLight;

            img {
                width: 30px;
                height: 30px;
            }

            @media (max-width: 490px) {
                flex: 0 1 25%; /*по 4 элемента в ряду*/
            }
            //@media (max-width: 330px) {
            //    flex: 0 1 50%; /*по 2 элемента в ряду*/
            //}
        }
    }

    .footer_copyrigths {
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div {
            padding: 0 10px;
        }
    }
}
