$titleColorLight: white;
$titleColorDark: #1f1f1f;

$bgColorLight: #f5df4e;
$bgColorMediumLight: #2d2d2d;
$bgColorMedium: #1c1c1c;
$bgColorDark: #1f1f1f;

$fontColorLight: white;
$fontColorDark: #1f1f1f;

$hoverOpacity: 0.7;

$marginBottomFromBlock: 40px;