$bgColorLight: #f5df4e;
$bgColorMediumLight: #2d2d2d;
$bgColorMediumDark: #1f1f1f;
$bgColorMedium: #1c1c1c;

$fontColorLight: #f9f9f9;
$fontColorDark: #151515;

$titleColorLight: #f9f9f9;
$titleColorDark: #1f1f1f;

$hoverOpacity: 0.7;
$marginBottomFromBlock: 40px;