.mainBlock5_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5df4e;
}

.mainBlock5_leftInfo {
    /*width: 300px;*/
    border: 1px solid blue;
    /*margin-left: 55px;*/
    flex: 0 1 100%;
}

.mainBlock5_leftInfo > div {
    margin-bottom: 10px;
}

.mainBlock5_leftInfo_title {

}

@media (max-width: 767px) {
    .mainBlock5_leftInfo_title {
        text-align: center;
    }

}

.mainBlock5_leftInfo_text {
    max-width: 400px;
}

.mainBlock5_leftInfo_location {

}

.mainBlock5_leftInfo_phone {

}

.mainBlock5_contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /*margin: 0 55px 0 auto;*/
    border: 1px solid white;
}

@media (max-width: 767px) {
    .mainBlock5_contacts {
        flex-direction: column;
    }
    .mainBlock5_leftInfo {
        text-align: center;
    }
}

.mainBlock5_title {
    text-align: center;
}

.mainBlock5 textarea {
    margin-bottom: 10px;
}

.mainBlock5 button {
    min-width: 20%;
    margin: 0 auto 10px;
    padding: 10px;
}